<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

</head>

<body>
    <section><span id="titre"> <h2>SITUATION M&Eacute;T&Eacute;OROLOGIQUE</h2></span>
        <div class="jumbotron d-none d-sm-block">

            <table class="table" border="0">
                <tr class="titree">
                    <span id="tempRell" align="center"><p>Temp&eacute;rature et Humidit&eacute; Actuelle</p></span>
                </tr>
                <tr class="">
                    <td></td>
                    <td align="center">
                        <p id="tempAct" align="center"></p>
                    </td>
                    <td align="center">
                        <p id="HumAct" align="center"></p>
                    </td>
                    <td align="center"><span id="date"><p></p></span></td>
                </tr>
            </table>
        </div>
    </section>
    <script type="text/javascript" src="/js/script.js" charset="utf-8"></script>
    <br>
    <br>

</body>

</html>