<!-- 
<!DOCTYPE html>
<html>

<head>
    <title>Map div</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-">
    <link rel="stylesheet" type="text/css" href="css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
    <h1><strong>Etat des vanes et situation m&eacute;t&eacute;ologique</strong></h1>
    <div id="container">
        <% donnee.map(function(valeur, index){ %>
            <div class="bloc">
                <h2 style="text-align:center"> <span id="region1"> </span></h2>
                <div class="gauche">
                    <img src="im4" alt="image meteo" class="onOff" id="etat">
                    <img src="/im" alt="image meteo" class="center">
                    <h3> Temperature :
                        <span id="zone1Tem"> </span> &deg;C </h3>
                    <h3> Humidité :
                        <span id="zone1Hum"><%= donnee[index].humidite %> </span> g/m3 </h3>
                    <div class="position">
                        <h2 style="text-align:left; margin:24px; color:rgb(241, 104, 218)"><u><strong>Position</strong></u></h2>
                        <h4> Altitude :
                            <span id="zone"><%= donnee[index].position.altitude %> </span> m </h4>
                        <h4> Longitude :
                            <span id="zone1Hu"><%= donnee[index].position.longitude %> </span> m </h4>
                    </div>
                    <button onClick="buttonOn()" class="styled b2" type="button">
                    Activer la vane
                </button>
                    <button onClick="buttonOff()" class="styled" type="button">
                   D&eacute;sactiver la vane
                </button>
                </div>
            </div>
            <% }) %>
    </div>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="js"></script>
</body>
<footer id="footer">
    <div class="footerDiv"><strong>Etat des vanes et situation m&eacute;t&eacute;ologique</strong></div>
    <div class="footerDiv"><strong>Etat des vanes et situation m&eacute;t&eacute;ologique</strong></div>
    <div class="footerDiv"><strong>Etat des vanes et situation m&eacute;t&eacute;ologique</strong></div>
</footer>
</html>
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="footer, address, phone, icons" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>



    <div class="header">
        <span><h1>SITUATION M&Eacute;T&Eacute;OROLOGIQUE </h1></span>
    </div>
    <div id="container">

        <div class="bloc">

            <table border="0" cellspacing="0" cellpadding="2">
                <tr>
                    <td valign="top">
                        <br/>
                        <span class="tmp">
                        <h3>Date: </h3>
                        </span></td>
                    <td>
                        <!--Balise marquee-->
                        <h5> <span id="date_heure"></span> </h5>
                    </td>
                </tr>
                <tr>
                    <td valign="top"> <span class="tmp"><h3 >Temp&eacute;rature :</h3>

                    </span></td>
                    <td>
                        <h1> <span id="temp"><span id="zone1Tem"> </span> &deg;C
                            </span>
                        </h1>
                    </td>
                </tr>

            </table>
            <br/>
            <img src="/imLogo" alt="Temoin temperature" id="img" title="Indique le temps qu'il fait" />
            <br/>
            <br/>
            <br/>
            <span class="saison">
                <h2 >&Eacute;  T  &Eacute; </h2>
            </span>
        </div>
        <div class="bloc">
            <img src="" alt="image meteo" id="rectangle2">
            <span id="monimage"></span>
        </div>
    </div>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="js"></script>
    <script type="text/javascript">
        window.onload = date_heure('date_heure');
    </script>
    <!-- Site footer -->
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>LesCons<span>Conscients</span></h3>
            <p class="footer-links">
                <a href="#">Home</a> ·
                <a href="#">Blog</a> ·
                <a href="#">Pricing</a> ·
                <a href="#">About</a> ·
                <a href="#">Faq</a> ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">LesConsConscients &copy; 2020</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Rue 73 VDN</span> Mermoze, Dakar</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+221 33 823 87 87</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:contact@lesconconscients.com">contact@lesconconscients.sn</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>A propos de nous</span> La plateforme LesConsConscients est une plateforme qui offre des formations d&eacute;di&eacute;es aux bidouilleurs en &eacute;lectionique &amp; pour le developpement d'applications embarqu&eacute;s.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>